:root {
    --primary-color: #007bff; /* Azul */
    --secondary-color: #6c757d; /* Gris */
    --background-color: #f8f9fa; /* Fondo muy claro */
    --text-color: #343a40; /* Texto oscuro */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 8px 8px 0 0; /* Bordes redondeados solo arriba */
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

.lista-ejercicios {
    list-style: none;
    padding: 0;
}

.lista-ejercicios li {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.lista-ejercicios li:hover {
    background-color: #dee2e6;
}

.lista-ejercicios a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    display: block; /* Hace que todo el li sea clickeable */
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    border-top: 1px solid #ccc;
    color: var(--secondary-color);
    font-size: 0.9em;
}